<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>570846233216-v2eh1mvh6c5j49rqsjqoo7qkctk0dsog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570846233216-v2eh1mvh6c5j49rqsjqoo7qkctk0dsog</string>
	<key>API_KEY</key>
	<string>AIzaSyB2-mtWsuyOcvuTe2hkwiG7Q1W9yN82AbY</string>
	<key>GCM_SENDER_ID</key>
	<string>570846233216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jonathanuttankar.Click</string>
	<key>PROJECT_ID</key>
	<string>click-6c3c0</string>
	<key>STORAGE_BUCKET</key>
	<string>click-6c3c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:570846233216:ios:09b1f9cf4381ba41</string>
	<key>DATABASE_URL</key>
	<string>https://click-6c3c0.firebaseio.com</string>
</dict>
</plist>